<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TextSender for Pebble</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Preset 1</string>
			<key>defaults</key>
			<string>com.sawyervaughan.pebblesmstweak</string>
			<key>key</key>
			<string>preset1</string>
			<key>label</key>
			<string>Preset 1</string>
			<key>PostNotification</key>
			<string>com.sawyervaughan.pebblesmstweak-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Preset 2</string>
			<key>bestGuess</key>
			<string>Yes</string>
			<key>defaults</key>
			<string>com.sawyervaughan.pebblesmstweak</string>
			<key>key</key>
			<string>preset2</string>
			<key>label</key>
			<string>Preset 2</string>
			<key>PostNotification</key>
			<string>com.sawyervaughan.pebblesmstweak-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Preset 3</string>
			<key>bestGuess</key>
			<string>Yes</string>
			<key>defaults</key>
			<string>com.sawyervaughan.pebblesmstweak</string>
			<key>key</key>
			<string>preset3</string>
			<key>label</key>
			<string>Preset 3</string>
			<key>PostNotification</key>
			<string>com.sawyervaughan.pebblesmstweak-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Preset 4</string>
			<key>bestGuess</key>
			<string>Yes</string>
			<key>defaults</key>
			<string>com.sawyervaughan.pebblesmstweak</string>
			<key>key</key>
			<string>preset4</string>
			<key>label</key>
			<string>Preset 4</string>
			<key>PostNotification</key>
			<string>com.sawyervaughan.pebblesmstweak-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Preset 5</string>
			<key>bestGuess</key>
			<string>Yes</string>
			<key>defaults</key>
			<string>com.sawyervaughan.pebblesmstweak</string>
			<key>key</key>
			<string>preset5</string>
			<key>label</key>
			<string>Preset 5</string>
			<key>PostNotification</key>
			<string>com.sawyervaughan.pebblesmstweak-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Preset 6</string>
			<key>bestGuess</key>
			<string>Yes</string>
			<key>defaults</key>
			<string>com.sawyervaughan.pebblesmstweak</string>
			<key>key</key>
			<string>preset6</string>
			<key>label</key>
			<string>Preset 6</string>
			<key>PostNotification</key>
			<string>com.sawyervaughan.pebblesmstweak-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Preset 7</string>
			<key>bestGuess</key>
			<string>Yes</string>
			<key>defaults</key>
			<string>com.sawyervaughan.pebblesmstweak</string>
			<key>key</key>
			<string>preset7</string>
			<key>label</key>
			<string>Preset 7</string>
			<key>PostNotification</key>
			<string>com.sawyervaughan.pebblesmstweak-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Preset 8</string>
			<key>bestGuess</key>
			<string>Yes</string>
			<key>defaults</key>
			<string>com.sawyervaughan.pebblesmstweak</string>
			<key>key</key>
			<string>preset8</string>
			<key>label</key>
			<string>Preset 8</string>
			<key>PostNotification</key>
			<string>com.sawyervaughan.pebblesmstweak-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Preset 9</string>
			<key>bestGuess</key>
			<string>Yes</string>
			<key>defaults</key>
			<string>com.sawyervaughan.pebblesmstweak</string>
			<key>key</key>
			<string>preset9</string>
			<key>label</key>
			<string>Preset 9</string>
			<key>PostNotification</key>
			<string>com.sawyervaughan.pebblesmstweak-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Preset 10</string>
			<key>bestGuess</key>
			<string>Yes</string>
			<key>defaults</key>
			<string>com.sawyervaughan.pebblesmstweak</string>
			<key>key</key>
			<string>preset10</string>
			<key>label</key>
			<string>Preset 10</string>
			<key>PostNotification</key>
			<string>com.sawyervaughan.pebblesmstweak-preferencesChanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>TextSender for Pebble</string>
</dict>
</plist>
