Package: com.sawyervaughan.pebblesmstweak
Name: TextSender for Pebble
Depends: mobilesubstrate, com.rpetrich.rocketbootstrap (>= 1.0.2)
Version: 1.0.0
Architecture: iphoneos-arm
Description: This app allows you to send texts directly from your Pebble Time watch. You can choose a contact by inputting text, dictating, or choosing a recent contact. You can then dictate a message, type with the watch, or select from a customizable list of presets. 
Maintainer: Sawyer Vaughan
Author: Sawyer Vaughan
Section: Tweaks
